* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  
  font: 16px "Helvetica Neue", Arial, sans-serif;
  color: #e1e1e6;

  background: #121214;
}